#nameContainer {
  opacity: 1;
  transform: scaleX(1) rotate(0deg) translateX(0);
  transform-origin: left;
  transition: all 1s ease-in-out;
}

#nameContainer.hidden {
  opacity: 0;
  transform: scaleX(0) rotate(-50deg) translateX(-200px);
}