html {
	font-size: 12px;
	color: #222;
}

/** {*/
/*	display: inline-block;*/
/*}*/

table {
	font-size: 1.2rem;
	background-color: #fff;
	color: #222;
	border-bottom: 1px solid lightgray;
	border-spacing: 0;
}

table, form {
	margin: 2rem;
}

table thead tr {
	background-color: dimgray;
	color: white;
}

table td {
	padding: 0.5rem 1rem;
}

table thead th {
	padding: 1rem 1rem;
}

table tbody tr:nth-child(even) {
	background-color: lightcyan;
}

table tbody tr:hover {
	background-color: lightgray;
}

h1, h2, h3, h4, h5, h6 {
	color: #007cc5;
	font-family: sans-serif
}

p.greenParagraph {
	background-color: darkgreen;
}

p {
	font-size: 10px;
	background-color: black;
	color: white;
	padding: 1rem;
}

/*form #lname, form #fname {*/
/*	border: 1px solid #222;*/
/*}*/

form .form-input, form textarea {
	border: 1px solid #222;
	padding: 0.5rem;
	width: 100%;
}

form textarea {
	display: block;
	overflow-y: auto;
}

form input[type="submit"] {
	margin-top: 1rem;
}

/* na vsetky formularove prvky: */
/*form input, form select { */
/*	border: 1px solid #222;*/
/*	padding: 0.5rem;*/
/*}*/

form .form-input:focus {
	outline: none !important;
	border-bottom: 2px solid #003858;
}

a {text-decoration: none}
a:link, a:visited {color: #05A0FB;}
a:hover {color: #E8AA00; text-decoration: underline; }
a:active {color: #003858;}

button, input[type="submit"] {
	border: 1px solid #003858;
	background-color: #005d94;
	padding: 0.5rem 1rem;
	color: white;
}

button:hover, input[type="submit"]:hover {
	border: 1px solid #BB8900;
	background-color: #E8AA00;
	box-shadow: 5px 10px 18px #888888;
}

button:active, input[type="submit"]:active {
	background-color: #BB8900;
	box-shadow: 2px 5px 9px #888888;
}